<div class="wine-card" 
[ngClass]="{'insale': wine!.isOnSale, 'notsale': !wine!.isOnSale}">
<img src="{{ wine!.imageUrl | nullimages }}" alt="Imagen botella de vino" />
<p>{{ wine!.name }}</p>
<p>{{ wine!.price|currency:'EUR':true}}</p>
<p>{{ wine!.quantityInCart }}</p>
<p>{{ wine!.description}}</p>
<br />
<h4>Food Pairing</h4>
<div class="food-container" *ngFor="let fp of wine!.foodPairing;">
    <p>{{ fp.name }}</p>
    <p>{{ fp.kcal }}</p>
    <p>{{ fp.vegan }}</p>
    <p>{{ fp.gluten }}</p>
</div> 
</div>